<% if page.current? %>
  <li class='page-item active' aria-current="page">
    <span class="page-link">
      <%= page %>
      <span class="sr-only">(current)</span>
    </span>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link' %>
  </li>
<% end %>
