<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">
      <%- resource = item.split(/ /)[-1].pluralize %>
      <%= link_to resource, '/' + resource.downcase %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= item %>
    </li>
  </ol>
</nav>
